html, body{
    margin: 0;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img{
    width: 60%;
    margin: 20px 0 0 0 ;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}


:root{
    --base: #ffffff;
    --spacing: 10px;
    --blur: 10px;
}

.hl{
    color: var(--base);
}

